name: PostHog Benchmark
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "42 23 * * *"

permissions:
  contents: read
  id-token: write

jobs:
  docker-build:
    name: Build with Docker
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - run: git submodule update --init posthog

      - uses: docker/setup-buildx-action@v2

      - uses: docker/build-push-action@v4
        with:
          context: ./posthog
          cache-from: type=gha
          cache-to: type=gha,mode=max

  nsc-build:
    name: Build with Namespace
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - run: git submodule update --init posthog

      - uses: namespacelabs/nscloud-setup@v0

      - uses: namespacelabs/nscloud-setup-buildx-action@v0

      - uses: docker/build-push-action@v4
        with:
          context: ./posthog

  nscr-cache-build:
    name: Build with nscr.io registry cache
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - run: git submodule update --init posthog

      - uses: namespacelabs/nscloud-setup@v0

      - run: nsc docker buildx setup --tag named-builder --use

      - uses: docker/build-push-action@v4
        with:
          context: ./posthog
          cache-from: type=registry,mode=max,ref=nscr.io/flvhevllb0puc/posthog:buildcache
          cache-to: type=registry,mode=max,ref=nscr.io/flvhevllb0puc/posthog:buildcache

  notify-failures:
    name: Notify on build failures
    needs:
      - docker-build
      - nsc-build
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    if: failure() && needs.docker-build.result == 'success' && needs.nsc-build.result == 'failure'
    steps:
      - uses: ruby/action-slack@v3.2.1
        with:
          payload: |
            {
              "attachments": [{
                "title": "Namespace build failed while Docker build passed! Check now: ${{ job.status }}: ${{ github.workflow }}",
                "title_link": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
                "text": "See the link",
                "fields": [],
                "footer": "",
                "color": "danger"
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
